@page "/Clients/Delete/{Id:int}"

@using BlazorApp.Models
@using System.Text.Json.Nodes

@inject HttpClient Http
@inject NavigationManager navManager


<h1 class="mb-3">Delete Client</h1>
<p>Are you sure you want to delete client with ID @Id?</p>
<button class="btn btn-danger" @onclick="DeleteClient">Delete</button>
<a class="btn btn-secondary" href="/Clients">Cancel</a>

@code {
	[Parameter]
	public int Id { set; get; }

	protected async Task DeleteClient()
	{
		var response = await Http.DeleteAsync("https://localhost:4000/api/Clients/" + Id);
		navManager.NavigateTo("/Clients");

	}
}
